* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 90%;
    border-radius: 5px;
}

.App-header {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.main {
    display: flex;
    justify-content: center;
}

.card-container {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.card {
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 3px; 
    text-align: center;
    margin: 20px;
}



